.dashboard_left .dashboard_left_title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.dashboard_left {
  display: flex;
  flex-direction: column;
}

.dashboard_left_progress {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.dashboard_left_progress {
  margin-top: 1.5rem;
}

.data_name {
  color: #bdbdbd;
  font-size: 12px;
}

.chart_container img {
  width: 95%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.dashboard_left_bottom {
  display: flex;
  align-items: flex-start;
}

.dashboard_left_bottom .performers {
  display: flex;
  flex-direction: column;
}

.dashboard_left_bottom .performers .performer {
  display: grid;
  grid-template-columns: 4fr 3fr 1fr;
  gap: 1rem;
}

.performer .profile {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.profile .profile_photo {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 1rem;
}

@media all and (max-width: 1280px) {
  .dashboard_left_bottom {
    flex-direction: column;
  }
}

@media all and (max-width: 825px) {
  .dashboard_left_bottom {
    flex-direction: row;
  }
}

@media all and (max-width: 533px) {
  .dashboard_left_bottom {
    flex-direction: column;
  }
} ;
